<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<table>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Skype</th>
        <th>Github</th>
        <th>О себе</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstName}">firstName</td>
        <td th:text="${user.lastName}">lastName</td>
        <td th:text="${user.skypeLogin}">skypeLogin</td>
        <td th:text="${user.githubLogin}">githubLogin</td>
        <td th:text="${user.description}">description</td>
    </tr>
</table>
</body>
</html>