<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error Description</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
Платеж на сумму:  <span th:text="${payment.amount}">amount</span><br/>
Организация: <span th:text="${payment.customer.businessName}">businessName</span><br/>
Номер заказа: <span th:text="${payment.invoiceId}">invoiceId</span><br/>
<!--Номер платежа: <span th:text="${payment.transactionID}">transactionID</span> руб.<br>-->
</body>
</html>